.pixelated {
    image-rendering: pixelated;
}

[id="tilemap-choices"] {
    padding: 0;
    list-style: none;
}

[id="tilemap-choices"] li {
    float: left;
    margin-right: 1em;
}

[id="tilemap-choices"] img {
    width: 128px;
    cursor: pointer;
}
